Repository swsnu/swppfall2022-team9, pull requests merged in 2022-10, with the labels that each got.

#2 Coord gen code for Graph vis using Canvas
  frontend/src/components/Graph/Canvas.ts
  frontend/src/types/canvas.types.ts
Labels: enhancement

#14 ci: Fix typo in travis & sonar configs
  README.md
  sonar-project.properties
Labels: ci, typo

#32 Finish linting for frontend
  frontend/.eslintrc.js
  frontend/src/App.test.tsx
  frontend/src/components/Graph/Canvas.ts
  frontend/src/components/Graph/utils/touch.ts
  frontend/src/containers/AuthWrapper/AuthWrapper.test.tsx
  frontend/src/containers/ChangeProfilePage/ChangeProfilePage.tsx
  frontend/src/containers/ChangeProfilePage/styles.ts
  frontend/src/containers/ChatListPage/ChatListPage.tsx
  frontend/src/containers/ChatListPage/styles.ts
  frontend/src/containers/ChatPage/ChatPage.tsx
  frontend/src/containers/ChatPage/styles.ts
  frontend/src/containers/Context/AlertContext/AlertContext.tsx
  frontend/src/containers/EvaluateQualityPage/EvaluateQualityPage.tsx
  frontend/src/containers/EvaluateQualityPage/styles.ts
  frontend/src/containers/ForgotAccountPage/styles.ts
  frontend/src/containers/LoginModal/LoginModal.tsx
  frontend/src/containers/Portal/Portal.tsx
  frontend/src/containers/ProfilePage/styles.ts
  frontend/src/containers/SearchPage/styles.ts
  frontend/src/containers/SignUpPage/SignUpPage.tsx
  frontend/src/containers/SignUpPage/styles.ts
  frontend/src/store/slices/users.ts
  frontend/src/styles/common.form.styles.ts
Labels: frontend

#33 backend: Init all models and migrate
  backend/backend/settings.py
  backend/linklink/migrations/0001_initial.py
  backend/linklink/models.py
  backend/linklink/tags_list/__init__.py
  backend/linklink/tags_list/tags.py
  backend/pylintrc
Labels: enhancement, backend
