Repository swsnu/swppfall2022-team9, pull requests merged in 2022-11, with the labels that each got.

#36 ci: set coverage settings
  .travis.yml
  README.md
Labels: enhancement, ci

#46 ci: hotfix: replace correct coverage badge
  README.md
Labels: ci, typo

#66 Remove empty file
  frontend/src/server/mock/qualityTags.ts
Labels: bug, frontend

#78 backend:fix: fix GET friend return id User->LinkLinkUser
  backend/linklink/views.py
Labels: bug, backend

#88 backend: change response of POST /api/friendRequest/
  backend/linklink/test_answers/test_post_new_friend_request_success.json
  backend/linklink/tests.py
  backend/linklink/views.py
Labels: backend
